@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
    margin: 0;
    font-family: inherit;
}

body {
    display: grid;
    place-items: center;
    font-family: 'Open Sans', sans-serif;
}

header,
footer {
    padding-block: 35px;
    text-align: center;
}

h1 {
    font-size: min(2rem, 8vw);
}

p {
    font-size: min(1rem, 5vw);
}

button {
    padding-inline: 15px;
    padding-block: 7.5px;
    border: none;
    border-radius: 5px;
    font-size: min(1rem, 5vw);
    color: white;
    background: cornflowerblue;
    cursor: pointer;
}

button:hover {
    scale: 0.95;
}

.colors {
    width: min(1250px, min(90vw, 100vh));
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: min(15px, 1.5vw);
}

.color {
    aspect-ratio: 1;
    box-sizing: border-box;
    border-radius: min(15px, 3vw);
    border: min(5px, 1.5vw) solid white;
    transition: scale 0.15s ease-in-out;
    cursor: pointer;
}

.color:hover {
    scale: 0.95;
}

.correct {
    outline: min(4px, 1vw) solid green;
}

.wrong {
    outline: min(4px, 1vw) solid red;
}